audiomentations
beautifulsoup4
comtypes
datasets
ffmpeg
future
https://github.com/kpu/kenlm/archive/master.zip
librosa
numpy
numpy
pandas
PyAudio
pycaw
pyctcdecode
pyctcdecode
PyQt5
python-dateutil
requests
scipy
screen_brightness_control
sounddevice
soundfile
tqdm
transformers
webrtcvad-wheels
yfinance